{% extends "example/layout.twig" %}

{% block title %}Home{% endblock %}
{% block content %}
    <div class="row justify-content-center mt-4">
        <div class="col-lg-4">
            <div class="list-group list-group-flush text-center">
                <a class="list-group-item list-group-item-action" href="{{ url('/app/redirect') }}">Redirect Response</a>
                <a class="list-group-item list-group-item-action" href="{{ url('/app/json') }}">JSON Response</a>
                <a class="list-group-item list-group-item-action" href="{{ url('/app/session') }}">Sessions</a>
                <a class="list-group-item list-group-item-action" href="{{ url('/app/array-paginate') }}">Array Paginate</a>
                <a class="list-group-item list-group-item-action" href="{{ url('/app/orm-paginate') }}">Eloquent Paginate</a>
                <a class="list-group-item list-group-item-action" href="{{ url('/app/create') }}">Eloquent & Validation</a>
            </div>
        </div>
    </div>
{% endblock %}